<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Twitter Visualization</title>

    <!-- Custom styles for this template -->


</head>

<body>


<link href="css/style.css" rel="stylesheet">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

<link href="css/material.min.css" rel="stylesheet">
<link href="css/material.min.css.map" rel="stylesheet">


<!-- Core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="js/include/jquery-2.1.3.min.js"></script>
<script src="js/include/d3.v4.min.js"></script>
<script src="js/include/material.min.js"></script>
<script src="js/include/lasso.js"></script>

<script src="js/common.js"></script>
<script src="js/layoutanalysis-list.js"></script>
<!--<script src="js/layoutanalysis-scatter.js"></script>-->
<script src="js/layoutanalysis-heatmap.js"></script>
<script src="js/layoutanalysis-bar.js"></script>
<script src="js/layoutanalysis-horizontalbar.js"></script>


<script src="js/layoutanalysis-client.js"></script>


<div id="header">

    <div id="title">
        <span>Progressive Visual Analytics</span>
    </div>


    <div id="common-buttons">

    </div>


</div>

<div id="content">

    <div id="content-left" class="container vizpanel">

    </div>

    <div id="content-middle" class="container">

        <div id="sentimentDiv" class="vizpanel">

        </div>

        <div id="userDiv" class="vizpanel">

        </div>

    </div>

    <div id="content-right" class="container vizpanel">

    </div>

</div>


</body>

</html>