
body, .container-fluid {
    height: 100%;
    min-height: 100%;
    font-family: "Helvetica", "Roboto", sans-serif !important;
}

#content {
    display: block;
    height: calc(100% - 35px);
}

.vizpanel {
    padding: 0px 0px;
    display: inline-block;
    border: 1px solid #EEE;
    position: relative;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

#content-left {
    width: 30%;
    height: 100%;
    float: left;
    margin-left: 2px;
    margin-top: 2px;
}

#content-middle {
    padding: 0px 0px;
    width: 15%;
    height: 100%;
    display: inline-block;
    float: left;
    position: relative;
    margin-left: 2px;
    margin-top: 2px;
}

#content-right {
    width: 54%;
    height: 100%;
    float: left;
    margin-left: 2px;
    margin-top: 2px;
}

#sentimentDiv {
    width: 100%;
    height: 40%;
    position: relative;
}

#userDiv {
    width: 100%;
    height: 60%;
    position: relative;
}

.axis {
    font: 10px sans-serif;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

#sentimentDiv .x.axis path {
    display: none;
}

#userDiv .y.axis path {
    display: none;
}

.tick line {
    opacity: 0.2;
}

.brush .selection {
    fill-opacity: 0.5;
    fill: #FFF;
    stroke: transparent;
}

.minicontrol {
    width: 20px;
    height: 20px;
    background-size: contain;
    display: inline-block;
    margin-right: 10px;
    background-repeat: no-repeat;
    background-position: center;
    filter: alpha(opacity=40);
    -webkit-filter: opacity(10%);
}

.minicontrol:hover {
    filter: alpha(opacity=100);
    -webkit-filter: opacity(100%);
}

#header {
    width: 100%;
    height: 30px;
}

#pagetitle {
    float: left;
    line-height: 28px;
}

#pagetitle span {
    padding-left: 10px;
    font-size: 20px;
}

#common-buttons {
    width: auto;
    height: auto;
}

.lasso path {
    stroke: rgb(80, 80, 80);
    stroke-width: 2px;
}

.lasso .drawn {
    fill-opacity: .05;
}

.lasso .loop_close {
    fill: none;
    stroke-dasharray: 4, 4;
}

.lasso .origin {
    fill: #3399FF;
    fill-opacity: .5;
}

.getmdl-select .mdl-icon-toggle__label {
    float: right;
    margin-top: -30px;
    color: rgba(0, 0, 0, 0.4)
}

.getmdl-select.is-focused .mdl-icon-toggle__label {
    color: #3f51b5
}

.getmdl-select .mdl-menu__container {
    width: 100% !important;
    overflow-y: auto;
    overflow-x: hidden
}

.getmdl-select .mdl-menu__container .mdl-menu .mdl-menu__item {
    font-size: 16px
}

.getmdl-select__fullwidth .mdl-menu {
    width: 100%
}

.getmdl-select__fix-height .mdl-menu__container {
    max-height: 300px !important
}

.flasher {
    animation: blink 1s infinite;
}

@keyframes blink {
    0% {
        opacity: 0
    }
    15%, 70% {
        opacity: 1
    }
    85%, 100% {
        opacity: 0
    }
}

#contentcontent-left {
    overflow: scroll;
}

#contentcontent-left::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 1px;
}

#contentcontent-left::-webkit-scrollbar-thumb {
    border-radius: 2px;
    background-color: rgba(0, 0, 0, .1);
    -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .2);
}

.textContent {
    background-color: rgba(240, 240, 240,1);
}